# compiled output
/dist
/node_modules

# Logs
logs
*.log

# PIDFiles
*.pid

# OS
.DS_Store

# IDEs and editors
.idea/*
!.idea/runConfigurations/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.vscode
.vstags
